.calendar-wrap{
    width        : 260px;
    display      : flex;
    flex-wrap    : wrap;
    position     : relative;
    input,button{
        appearance         : button;
        -moz-appearance    : button;
        -webkit-appearance : button;
        border             : none;
        &:focus{
            outline          : none;
        }
    }
    .input-box{
        width           : 100%;
        height          : 35px;
        display         : flex;
        align-items     : center;
        border          : 1px solid #ccc;
        background      : #fff;
        position        : relative;
        overflow        : hidden;
        border-radius   : 4px;
        input{
            width         : 100%;
            height        : 100%;
            padding       : 0px 10px; 
            border        : none;
            background    : transparent;
            font-size     : 0.8em;
        }
        .input-box-icon{
            width           : 25px;
            height          : 25px;
            display         : flex;
            position        : absolute;
            z-index         : 2;
            right           : 5px;
            color           : #999;
            font-size       : 1.1em;
            align-items     : center;
            justify-content : center;
            cursor          : pointer;
        }
        .datetimeInput{
            cursor: pointer;
        }
    }
    .calendar-wrap-con{
        width         : 100%;
        display       : block;
        padding       : 10px; 
        border        : 1px solid #ccc;
        background    : #fff; 
        border-radius : 5px;
        position      : absolute;
        z-index       : 10;
        top           : 40px;
        left          : 0px;
        &.close{
            display    : none;
        }
        &.open{
            display    : block;
        }
        .calendar-tool{
            width           : 100%;
            height          : 40px;
            display         : flex;
            padding-bottom  : 5px;
            margin-bottom   : 5px;
            border-bottom   : 1px solid #ccc;  
            justify-content : space-between;
            .showNowMonth,button{
                height        : 100%;
            }
            span{
                width            : 20px;
                border           : none;
                background       : transparent;
                cursor           : pointer;
                display          : flex;
                align-items      : center;
                justify-content  : center;
            }
            .showNowMonth{
                width: 150px;
                justify-content: center;
                display: flex;
                align-items: center;
                font-size: 0.9em;
            }
        }
        .calendar{
            width       : 100%;
            display     : flex;
            flex-wrap   : wrap;
            font-size   : 0.9em;
            position    : relative;
            z-index     : 5;
            >li{
                width  : 14.285%;
                height : 35px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &.nowDate{
                    &:before{
                        content: "";
                        width: 25px;
                        height: 25px;
                        border-radius: 100px;
                        background: #ccc;
                        position: absolute;
                        z-index: -1;
                    }
                }
                &.pointerEventsNone{
                    pointer-events : none;
                    opacity        : 0.3; 
                }
            }
            &.calendar-head{
                color: #f36;
                font-weight: 800;
            }
            &.calendar-body{
                >li{
                    cursor: pointer;
                    &:hover{
                        &:before{
                            content       : "";
                            width         : 25px;
                            height        : 25px;
                            border-radius : 100px;
                            background    : #ccc;
                            position      : absolute;
                            z-index       : -1;
                            background    : #ececec;
                        }
                    }
                }
            }
        }
        .time{
            width            : 100%;
            display          : flex;
            justify-content  : space-between;
            margin-top       : 5px;
            padding-top      : 10px;
            border-top       : 1px solid #ccc;  
            >li{
                display          : inline-flex;
                &.timeNull{
                    width            : 30px;
                    padding-top      : 4px;
                    justify-content  : center;
                }
                .input-box{
                    padding-right    : 25px;
                    input{
                        box-shadow    : inset 0px 0px 4px #00000060;
                    }
                }
            }
            .timeAction{
                width           : 25px;
                height          : 100%;
                position        : absolute;
                top             : 0px;
                right           : 0px;
                display         : flex;
                flex-direction  : column;
                span{
                    width         : 100%;
                    height        : 100%;
                    font-size     : 0.5em;
                    display       : flex;
                    align-items   : center;
                    justify-content: center;  
                    cursor        : pointer;
                    transition    : all .3s;
                    background    : #ff8821;
                    color         : #fff;
                    &:first-child{
                        border-bottom: 1px solid #bb6114;
                    }
                    &:last-child{
                        border-top: 1px solid #ffa85f;
                    }
                }
            }
        }
    }
}