ul{
    list-style-type: none;
}

*{
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

body {
    height            : 100%;
    font-family       : sans-serif;
    font-size         : 100%;
    display           : flex;
    justify-content   : center;
}

#app{
    padding: 100px 0px 0px 0px;
    display: flex;
}